@media (max-width: 768px) {
    .menu-bars {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .HashNav {
        display: none;
    }

    .modif-drop{
        width: 50%;
    }

    .nav-item.dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titrePage {
        max-width: 65%;
        
    }

    .titrePage h1 {
        font-size: 40px !important;
    }

    .svgCircle {
        width: 55px;
        height: 55px;
        margin-left: 25px;
    }

}