.admin-dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFF2D2;
    color: #212121;
  }
  
  .top-bar {
    background: #212121;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .top-bar .logo {
    display: flex;
    align-items: center;
  }

  .top-bar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .top-bar .logo h1 {
    margin-left: 10px;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive, sans-serif;
  }

  .top-bar .user {
    display: flex;
    align-items: center;
  }

  .top-bar .user p {
    margin-right: 10px;
  }

  .top-bar .user button {
    background-color: #F6A713;
    border: 1px solid #F6A713;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  .top-bar .user button:active {
    background-color: #b88628;
    border: 1px solid #F6A713;
    color: white;
  }

  .bod {
    display: flex;
  }
  
  .sidebar {
    background: #212121;
    width: 200px;
    padding: 20px;
    height: 89.25vh;
    /* min-height: 100%; */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .sidebar ul li {
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .sidebar ul li a.active {
    background-color: #F6A713;
    padding: 10px;
    border-radius: 10px;
  }

  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  h1, h2 {
    margin: 0;
  }
  